{% extends 'base.html.twig' %}

{% block title %}Add your advertisement {% endblock %}
    {% block stylesheets %}
        {{ parent() }}

    {% endblock %}
  {% block javascripts  %}
      {{ parent() }}
      <script src="{{ asset('js/selectedImages_input.js') }}"></script>
      <script src="{{ asset('js/deleteImageFromAdvertisement.js') }}"> </script>
  {% endblock %}
{% block content %}
    <div class="new-advertisement">

        <h2> Update your advertisement details</h2>
        {% if app.request.attributes.get('_route') == 'edit_advertisement' %}
            <div class="form-images">
            {% for image in advertisement.images %}
                <div class="image-block">
                <img src="{{ asset('images/advertisementImages/'~image.name) }}" alt="image"  >
                <a href="{{ path('advertisement_delete_image',{'id':image.id}) }}"
                    data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"><i class="fas fa-times-circle"></i></a>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {{ form_start(advertisementForm, {'attr': {'class': 'form-horizontal'}}) }}
        {% if advertisement.images %}
            {{ form_label(advertisementForm.image) }}
            {{ form_widget(advertisementForm.image, {'attr': {'class': 'form-images'}, 'required': false}) }}

        {% endif %}

        <div  id="selectedImage"></div>
        <br><br>
        {{ form_label(advertisementForm.name) }}
        {{ form_widget(advertisementForm.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(advertisementForm.subcategory) }}
        {{ form_widget(advertisementForm.subcategory, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(advertisementForm.description) }}
        {{ form_widget(advertisementForm.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(advertisementForm.price) }}
        {{ form_widget(advertisementForm.price, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(advertisementForm.telNumber) }}
        {{ form_widget(advertisementForm.telNumber, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(advertisementForm.location) }}
        {{ form_widget(advertisementForm.location, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(advertisementForm.contactName) }}
        {{ form_widget(advertisementForm.contactName, {'attr': {'class': 'form-control'}}) }}

        <button  class="btn btn-success">Update</button>
        {{ form_end(advertisementForm) }}

    </div>

    {% block javascriptsblock %}
        <script src="{{ asset('js/deleteImageFromAdvertisement.js') }}"> </script>
    {% endblock %}
{% endblock %}