{% extends 'base.html.twig' %}
{% block title %}Selected advertisements{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set countResult = advertisements | length %}
    {% if countResult < 1 %}
        <h2 class="count-Adv">
            No results found :(</h2><br>
    {% else %}
        <h2 class="count-Adv">
            Found results ({{ countResult }})
        </h2><br>
    {% endif %}
   <div class="list-of-advertisements full-screen">
       {%  for advertisement in advertisements %}
           <div class="card">
               <div class="card-image">
                   {% set mainPhoto = advertisement.images | first %}
                   {% if mainPhoto %}
                       <img src="{{ asset('images/advertisementImages/'~ mainPhoto.name) }}"/><br>
                   {% else %}
                       <img  src="{{ asset('images/advertisementImages/defaultFirst.jpg') }}"/><br>
                   {% endif %}
               </div>
               <div class="card-text">
                   <h4 class="title">
                       {% if advertisement.name|length > 23  %}
                           {{ advertisement.name|striptags|slice(0, 23) ~ '...'}}
                       {% else %}
                           {{ advertisement.name}}
                       {% endif %}
                   </h4>


                   <p>{{ advertisement.price }}
                       zł
                   </p>
               </div>

               <span class="date-like"><a href="{{ path('favourite_advertisement',{'id':advertisement.id }) }}" id="js-favourite" class=" like btn-link ">
                  {% if app.user and advertisement.isFavouritedByUser(app.user) %}
                      <i class=" fas fa-heart"></i>
                  {% else %}
                      <i class="far fa-heart"></i>
                  {% endif %}
                </a></span>


               {% if app.user.id == advertisement.user.id %}
                   <div class="btns-user-options">
                       <a  class="edit btn-info" href="{{ path('edit_advertisement', {'id': advertisement.id}) }}">
                           <i class="fas fa-edit"></i>
                       </a>
                       <form method="post" action="{{ path('delete_advertisement', {'id': advertisement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this advertisement?');">
                           <input type="hidden" name="_method" value="DELETE">
                           <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advertisement.id) }}">
                           <button class="delete btn-danger fas fa-times-circle">

                           </button>
                       </form>
                   </div>
               {% endif %}
               <a class="details" href="{{ path('advertisement_details', {'id': advertisement.id}) }}">Details &nbsp  <i class="fas fa-arrow-right"></i></a>
               <div class="line">
                   <h4 >
                       {{advertisement.createdAt|date("d/m/Y") }}
                   </h4>
                   <h4 >
                       {{advertisement.location }}
                   </h4>
               </div>
           </div>

       {% endfor %}
   </div>

{% endblock %}
