<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>
        {% block title %}Flea Market{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block javascripts  %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://kit.fontawesome.com/d29cbc6cc1.js" crossorigin="anonymous"></script>
        <script src="{{ asset('js/searchAdvertisement.js') }}"></script>
        <script src="{{ asset('js/hamburgerMenu.js') }}"></script>
        <script src="{{ asset('js/openSubcategory.js') }}"></script>
        <script src="{{ asset('js/openMobSearch.js') }}"></script>
        <script src="{{ asset('js/dropdown.js') }}"></script>
        <script src="{{ asset('js/savedInput.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}

</head>

<body>
<nav>
    <div class="logo">
        <a class="" href="{{ path('start_page') }}">
            FleaMarket</a>
    </div>
    {# searchAdvertisement field #}
    <div  id="searchAd"  class="input-group left-input desktop">
        <form  method="get" action="{{ path('search_all_matches') }}">
        <input id="search" type="text" autocomplete="off" placeholder="Search here" name="search">
        <ul id="searchAdvertisement_result"></ul>
        </form>
    </div>
    {# searchAdvertisement field #}

    {# searchLocation_result field #}
    <div id="searchLo" class="input-group desktop">
        <form role="search" aria-label="place" method="get" action="{{ path('search_all_matches') }}">
        <input type="text"  id="place" autocomplete="off" placeholder="Enter place" name="place">
        <i id="searchIcon"  class="fas fa-search"></i>
        <i id="searchlocation" class="fas fa-map-marked-alt"></i>
         <ul id="searchLocation_result" ></ul>
        </form>
    </div>
    {# searchLocation_result field #}

    <ul class="links">
        <li><a class="active" href="">Home</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
    </ul>

    <a id="add" class="dropBtn" href="{{ path('new_advertisement') }}">
        <i class="fas fa-plus-circle"></i>
    </a>
    <div id="Dropdown" class="dropdown-content">
        <a href="{{ path('app_account') }}">Personal data</a>
        <a href="{{ path('my_advertisements') }}">My advertisements</a>
        <a href="{{ path('favourite_advertisements') }}">Favourites</a>
        <a href="{{ path('app_logout') }}">Logout</a>
    </div>

        {% if app.user.avatar %}
            <img src="{{ asset('images/userPictures/'~ app.user.avatar) }}" alt="" id="signIn" class="login-btn"/>
        {% else %}
            <img src="{{ asset('images/userPictures/default.jpeg') }}" alt="" id="signIn" class="login-btn"/>
        {% endif %}
    <div class="hamburger-menu">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
    </div>
    <div class="navbar">
        <ul>
            <li><a class="nav-link" href="">Home</a></li>
            <li><a class="nav-link" href="">News</a></li>
            <li><a class="nav-link" href="">Contact</a></li>
            <li><a class="nav-link" href="">About</a></li>
        </ul>

    </div>

    <div class="hidden" id="searchAd-mob-version">
        <input id="search" type="text" autocomplete="off" placeholder="Search here" name="search">
        <ul id="searchAdvertisement_result"></ul>
    </div>
    <div id="searchLo-mob-version">
        <div id="searchLo" class="input-group">
            <input type="text" id="place" placeholder="Enter place">
            {# <ul id="searchLocation_result" ></ul> #}
        </div>
    </div>
</nav>
{#<footer>#}
{#    <div class="firstPart">#}
{#        <p>follow us</p>#}
{#        <div class="social-btns">#}
{#            <a class="btn-social" href="https://www.facebook.com/" target="_blank">#}
{#                <i class="fab fa-facebook-square"></i>#}
{#            </a>#}
{#            <a class="left btn-social" href="https://www.instagram.com/?hl=pl" target="_blank">#}
{#                <i class="fab fa-instagram"></i>#}
{#            </a>#}
{#            <a class="left btn-social" href="https://twitter.com/twitter" target="_blank">#}
{#                <i class="fab fa-twitter"></i>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#    <div class="secondPart">#}
{#        <p>contact us</p>#}
{#        <a class="phone" href="tel: +48595555331">#}
{#            <i class=" phoneAct fas fa-phone-alt"></i>&nbsp; +48 595 555 331</a>#}
{#        <a class="mail" href="mailto: example@gmail.com">#}
{#            <i class="mailAct far fa-envelope"></i><i class="mailHid far fa-envelope-open"></i>&nbsp; example@gmail.com</a>#}
{#        <a class="help-center" id="openMessage"><i class="fas fa-headset"></i>&nbsp; Help center</a>#}
{#        <script src="{{ asset('js/messageForm.js') }}"></script>#}
{#    </div>#}

{#    <div class="thirdPart">#}
{#        <a href="">home#}
{#        </a>#}
{#        <a href="">news</a>#}
{#        <a href="">about us</a>#}
{#        <a href="">help center</a>#}
{#    </div>#}

{#</footer>#}

</body>

{% block content %} {% endblock %}

</html>