{{ form_start(searchForm,{'attr': {'class': 'filters'}} )}}
<h2 for="" class="">Filters</h2>
<h2 for="" class="price">Price</h2>
<div class="line-min-max">
{{ form_label(searchForm.min) }}
{{ form_widget(searchForm.min) }}
{{ form_label(searchForm.max) }}
{{ form_widget(searchForm.max) }}

</div>
<div id="price-slider" data-min="{{min}}" data-max="{{ max }}"></div>

{{ form_end(searchForm) }}
