{% extends 'base.html.twig' %}
{% block title %}Hello in FleaMarket!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/nouislider.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/nouislider.js') }}"></script>
    <script src="{{ asset('js/price.js') }}"></script>
{% endblock %}
{% block content %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                {{ message | raw }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="side-nav">
        {% for category in categories %}
            <a  class="subcategory-list" data-value="{{ category.id}}">
            <i class="{{ category.icon }}"></i>
            {{ category.name }}
        </a>
        {% endfor %}
    </div>
    <div id="searchByCategory"></div>
    {% include 'start_page/filters.html.twig' with {searchForm: searchForm, min:min, max:max} only %}
    <div class="list-of-advertisements">
        {% if lastAdvertisements  %}
        {% for lastAdvertisement in lastAdvertisements %}

            <div class="card">
                <div class="card-image">
                    {% set mainPhoto = lastAdvertisement.images | first %}
                    {% if mainPhoto %}
                        <a href="{{ path('advertisement_details', {'id': lastAdvertisement.id}) }}"><img  src="{{ asset('images/advertisementImages/'~ mainPhoto.name) }}"/></a>

                    {% else %}
                        <a href="{{ path('advertisement_details', {'id': lastAdvertisement.id}) }}"><img  src="{{ asset('images/advertisementImages/defaultFirst.jpg') }}"/></a>

                        <img  src="{{ asset('images/advertisementImages/defaultFirst.jpg') }}"/>
                    {% endif %}
                </div>
                <div class="card-text">
                    <h4 class="title">
                        {% if lastAdvertisement.name|length > 23  %}
                            {{ lastAdvertisement.name|striptags|slice(0, 23) ~ '...'}}
                        {% else %}
                            {{ lastAdvertisement.name}}
                        {% endif %}
                    </h4>


                    <p>{{ lastAdvertisement.price }}
                        zł
                    </p>
                </div>

                <span class="date-like"><a href="{{ path('favourite_advertisement',{'id':lastAdvertisement.id }) }}" id="js-favourite" class=" like btn-link ">
                  {% if app.user and lastAdvertisement.isFavouritedByUser(app.user) %}
                      <i class=" fas fa-heart"></i>
                  {% else %}
                      <i class="far fa-heart"></i>
                  {% endif %}
                </a></span>


                {% if app.user.id == lastAdvertisement.user.id %}
                    <div class="btns-user-options">
                        <a  class="edit btn-info" href="{{ path('edit_advertisement', {'id': lastAdvertisement.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form method="post" action="{{ path('delete_advertisement', {'id': lastAdvertisement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this advertisement?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lastAdvertisement.id) }}">
                            <button class="delete btn-danger fas fa-times-circle">

                            </button>
                        </form>
                    </div>
                {% endif %}

                <div class="line">
                    <h4 >
                        {{lastAdvertisement.createdAt|date("d/m/Y") }}
                    </h4>
                    <h4 >
                        {{lastAdvertisement.location }}
                    </h4>
                </div>
            </div>


        {% endfor %}
        {% endif %}
    </div>

{% block javascriptblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/like.js') }}"></script>
    {% endblock %}
{% endblock %}