{% extends 'base.html.twig' %}
{% block title %}Hello in FleaMarket!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
{% block content %}
    <div class="side-nav">
        {% for category in categories %}
            <a  class="subcategory-list" data-value="{{ category.id}}">
            <i class="{{ category.icon }}"></i>
            {{ category.name }}
        </a>
        {% endfor %}
    </div>
    <div id="searchByCategory"></div>
{% endblock %}