{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dynamicDeleteAdvertisement.js') }}"></script>
{% endblock %}
{% block content %}
    <title>{% block title %}Favorite advertisements{% endblock %}</title>
        <div class="list-of-advertisements advertisements-block">

            {% for myFavouriteAdvertisement in myFavouriteAdvertisements %}
                <div class="card">
                    <div class="card-image">
                        {% set mainPhoto = myFavouriteAdvertisement.advertisement.images | first %}
                        {% if mainPhoto %}
                            <img src="{{ asset('images/advertisementImages/'~ mainPhoto.name) }}"/><br>
                        {% else %}
                            <img  src="{{ asset('images/advertisementImages/defaultFirst.jpg') }}"/><br>
                        {% endif %}
                    </div>
                    <div class="card-text">
                        <h4 class="title">
                            {% if myFavouriteAdvertisement.advertisement.name|length > 23  %}
                                {{ myFavouriteAdvertisement.advertisement.name|striptags|slice(0, 23) ~ '...'}}
                            {% else %}
                                {{ myFavouriteAdvertisement.advertisement.name}}
                            {% endif %}
                        </h4>
                        <p>{{ myFavouriteAdvertisement.advertisement.price }}
                            zł
                        </p>
                    </div>

                    <span class="date-like"><a href="{{ path('favourite_advertisement',{'id':myFavouriteAdvertisement.advertisement.id }) }}" id="js-favourite" class=" like btn-link ">
                  {% if app.user and myFavouriteAdvertisement.advertisement.isFavouritedByUser(app.user) %}
                      <i class=" fas fa-heart"></i>
                  {% else %}
                      <i class="far fa-heart"></i>
                  {% endif %}
                </a></span>


                    {% if app.user.id == myFavouriteAdvertisement.advertisement.user.id %}
                        <div class="btns-user-options">
                            <a  class="edit btn-info" href="{{ path('edit_advertisement', {'id': myFavouriteAdvertisement.advertisement.id}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <form method="post" action="{{ path('delete_advertisement', {'id': myFavouriteAdvertisement.advertisement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this advertisement?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ myFavouriteAdvertisement.advertisement.id) }}">
                                <button class="delete btn-danger fas fa-times-circle">

                                </button>
                            </form>
                        </div>
                    {% endif %}
                   <div class="line">
                        <h4 >
                            {{myFavouriteAdvertisement.advertisement.createdAt|date("d/m/Y") }}
                        </h4>
                        <h4 >
                            {{myFavouriteAdvertisement.advertisement.location }}
                        </h4>
                    </div>
                </div>


            {% endfor %}

        </div>
    {% block javascriptblock %}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{ asset('js/like.js') }}"></script>
    {% endblock %}
{% endblock %}

